#page {
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    justify-self: center;
    width: 600px;
}

/* Header Elements */
.hText{
    font-size: 18pt;
    font-weight: bolder;
}
.shText{
    font-size: 14pt;
    font-weight: bold;
}
.nText{
    font-size: 10pt;
}
.snText{
    font-size: 10pt;
    font-weight: bold;
}
.sText {
    font-size: 8pt;
}

/* Image Section */
#img-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#img-display {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.arrow {
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 10px;
    color: black;
}
#spot-img {
    width: 500px
}


/* Spot Description */
#s2{
    width: 100%;
    justify-self: self-start;
    display: grid;
    grid-template-columns: 1.3fr .7fr;
    padding-bottom: 10px;
    border-bottom: 2px solid lightgray;
}
.popupInfo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#price{
    justify-self: self-start;
}
#rating{
    justify-self: self-end;
}
#reserve{
    margin-left: auto;
    height: 30px;
    width: 200px;
    background-color: darkblue;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

.popupDisplay{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

/* Reviews */
#s3{
    width: 100%;
    justify-self: self-start;
    display: grid;
    grid-template-rows: 100px fit-content;
}

#s3-heading {
    display: flex;
    justify-content: center;
    align-items: center;

}

#review{
    justify-items: start;
}

#s3-heading div button {
    height: 30px;
    width: 150px;
    background-color: darkblue;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

.reviewActions button {
    height: 25px;
    width: 50px;
    background-color: darkblue;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 7pt;
}
