#holder{
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    /* column-gap: 30px;
    row-gap: 10px; */
    gap: 20px;
    justify-content: center;
    z-index: 1;
}
.container{
    height: 250px;
    width: 250px;
    background-color: transparent;
    border: none;
    border-radius: 10px;
}
.container:hover{
    cursor: pointer;
    background-color: gray;
    color: #FFFF;
    justify-items: center;
}
.imgHolder{
    justify-self: center;
    
}
.img{
    height: 150px;
    width: 230px;
    object-fit: fill;
    border-radius: 10px;
}

.infoHolder{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 230px;
    padding-bottom: 20px;
    padding-top: 10px;
}
.location{
    justify-self: self-start;
}
.rating{
    justify-self: self-end;
}
.price{
    width: 230px;
    text-align: start;
}