#Navigations{
    height: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 2px solid black;
    align-content: center;
}
#right-justified{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
}

#home{
    list-style-type: none;
    align-self: center;
    vertical-align: middle;
    height: 25px;
}
#profile{
    list-style-type: none;
    height: fit-content;
    width: 150px;
    height: 25px;
    /* justify-self: self-end; */
}



/* Profile Button */
#profileDiv{
    height: 50px;
    width: 140px;
    justify-items: center;
    border-radius: 10px;
}

li{
    list-style-type: none;
}

.visible{
    display: flex;
    visibility: visible;
}
.hidden{
    display: flex;
    visibility: hidden;
}
.profile-dropdown{
    background-color: gray;
    width: 150px;
    height: 60px;
}
