#Navigations{
    height: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 2px solid black;
}

#home{
    list-style-type: none;
}
#profile{
    list-style-type: none;
}

#left-justified{
    display: inline-flex;
    justify-items: flex-end;
}

/* Profile Button */
#profileDiv{
    height: 100%;
    width: 100%;
    justify-items: center;
}

li{
    list-style-type: none;
    width: 100%;
}

.visible{
    display: flex;
    visibility: visible;
}
.hidden{
    display: flex;
    visibility: hidden;
}