/* Navagation Styles */
#navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 75px;

    padding-left: 10px;
    padding-right: 10px;
}

li {
    list-style-type: none;
}
#profile {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10px;
    top: 10px;
    flex-wrap: wrap;

    width: 100px;
    background-color: none;
    border-radius: 10px;
    

    padding: 10px;
    z-index: 9999;
}

#site-logo {
    flex: 1;
    height: 50px;
    object-fit: fill;
    justify-self: center;
    align-self: center;
}



/* Profile Button Styles */
#profileDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-button {
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
}


.profile-dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 0;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.user-buttons {
    display: flex;
    flex-wrap: wrap;
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
}

.login-buttons > button {
    height: 40px;
    width: 80px;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
}


.hidden {
    visibility: hidden;
}

/* #Navigations{
    height: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
} */

/* #right-justified{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
}

#home{
    list-style-type: none;
    align-self: center;
    vertical-align: middle;
    height: 25px;
}
#profile{
    list-style-type: none;
    height: fit-content;
    width: 150px;
    height: 25px;
    justify-self: self-end;
} */



/* Profile Button */
/* #profileDiv{
    width: 140px;
    justify-items: center;
    border-radius: 10px;
}

li{
    list-style-type: none;
}

.profile-dropdownvisible{
    position: relative;
    display: grid;
    visibility: visible;
    z-index: 2;
    background-color: gray;
}
.hidden{
    display: flex;
    visibility: hidden;
} */